.idea/

# Project exclude paths
/target/
pythonfilesDONOTMARK/outputInstructors.json
pythonfilesDONOTMARK/whoTaughtTheCourse.py
*.ser
unshared/
src/main/java/org/example/requisitechecker/RQCheckPlayground.java
